<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community">
	<select id="getCount" parameterType="comDto" resultType="int">
		select NVL(MAX(ROWNUM), 0)
		from community
		<choose>
			<when test="title != null and content != null">
				where title like '%'||#{title}||'%' 
				or
				content like '%'||#{content}||'%'
			</when>
			<when test="title != null">
				where title like '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				where writer like '%'||#{writer}||'%'
			</when>
		</choose>	
	</select>
	<select id="getList" parameterType="comDto" resultType="comDto">
		select * from
			(select result1.*, ROWNUM as rnum
			from
				(select num, writer, title, viewCount,
				TO_CHAR(regdate, 'YY.MM.DD HH24:MI') as regdate
				from community
				<choose>
					<when test="title != null and content != null">
						where title like '%'||#{title}||'%' 
						or
						content like '%'||#{content}||'%'
					</when>
					<when test="title != null">
						where title like '%'||#{title}||'%'
					</when>
					<when test="writer != null">
						where writer like '%'||#{writer}||'%'
					</when>
				</choose>
				order by num desc) result1)
		where rnum between #{startRowNum} and #{endRowNum}			
	</select>
	
	<insert id="insert" parameterType="comDto">
		insert into community
		(num, writer, title, content, viewCount, regdate)
		values(community_seq.nextval, #{writer}, #{title}, #{content},
		#{viewCount}, sysdate)
	</insert>
	
	<select id="getData" parameterType="comDto"
		resultType="comDto">
		SELECT result1.*
		FROM
			(SELECT num, writer, title, content, viewCount, 
			TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum
			FROM community
			<choose>
				<when test="title != null and content != null">
					WHERE title LIKE '%'||#{title}||'%' OR
					content  LIKE '%'||#{content}||'%'
				</when>
				<when test="title != null">
					WHERE title LIKE '%'||#{title}||'%'
				</when>
				<when test="writer != null">
					WHERE writer LIKE '%'||#{writer}||'%'
				</when>
			</choose>
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>
	
	<select id="getData2" parameterType="int" resultType="comDto">
		SELECT result1.*
		FROM
			(SELECT num, writer, title, content, viewCount, 
			TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum
			FROM community
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>	

	<delete id="delete" parameterType="int">
		DELETE FROM community
		WHERE num=#{num}
	</delete>
	<update id="addViewCount" parameterType="int">
		UPDATE community
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	<update id="update" parameterType="comDto">
		UPDATE community
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>
</mapper>