<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<select id="getList" parameterType="fullCalendarDto" resultType="commentDto">
		SELECT *
		 FROM (SELECT result1.*, ROWNUM AS rnum
				FROM (SELECT num, writer, content, target_id, ref_group, comment_group, deleted, board_cafe_comment.regdate, profile,com_likecount
						FROM board_cafe_comment
						INNER JOIN exhibition_users ON board_cafe_comment.writer=exhibition_users.id
						WHERE ref_group=#{seq}
						ORDER BY comment_group ASC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum} <!-- 같은 그룹에 대해 어떤 것을 먼저 출력할지 정함. -->
	</select>
	<!-- 게시판 댓글 -->
	<select id="getList2" parameterType="comDto" resultType="commentDto">
		SELECT *
		 FROM (SELECT result1.*, ROWNUM AS rnum
				FROM (SELECT num, writer, content, target_id, ref_group, comment_group, deleted, board_cafe_comment.regdate, profile
						FROM board_cafe_comment
						INNER JOIN exhibition_users ON board_cafe_comment.writer=exhibition_users.id
						WHERE ref_group=#{seq}
						ORDER BY comment_group ASC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<delete id="delete" parameterType="int">
		UPDATE board_cafe_comment
		SET deleted='yes'
		WHERE num=#{num}
	</delete>
	<insert id="insert" parameterType="commentDto">
	<!-- 댓글 NUM을 sequence를 통해 먼저 얻어낸 다음에 저장한다.  -->
		INSERT INTO board_cafe_comment
		(num, writer, content, target_id, ref_group, comment_group, regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_id,jdbcType=VARCHAR}, #{ref_group}, #{comment_group}, SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT board_cafe_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	<update id="update" parameterType="fullCalendarDto">
		UPDATE board_cafe_comment
		SET content=#{content}
		WHERE num=#{num}
	</update>
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_cafe_comment
	</select>
		<!-- 좋아요 -->
	<select id="findLike" parameterType="CommentDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM comment_like
		WHERE num=#{num} AND id=#{id} AND seq=#{ref_group}
	</select>
	<select id="getLikeCount" parameterType="int" resultType="int">
		SELECT com_likeCount
		FROM board_cafe_comment
		WHERE seq=#{ref_group} AND num=#{num} 
	</select>
	
	<delete id="remove" parameterType="CommentDto">
		DELETE FROM comment_like 
		WHERE seq=#{ref_group} AND id=#{id} AND num=#{num}
	</delete>
	
	<insert id="add" parameterType="CommentDto">
		 INSERT INTO comment_like 
		 (seq,id,num) 
		 VALUES(#{ref_group}, #{id},#{num})
	</insert>
	
	<update id="addLikeCount" parameterType="CommentDto">
		UPDATE board_cafe_comment
		SET com_likeCount=com_likeCount+1
		WHERE ref_group=#{ref_group} AND num=#{num}
	</update>
	
	<update id="minusLikeCount" parameterType="CommentDto">
		UPDATE board_cafe_comment
		SET com_likeCount=com_likeCount-1
		WHERE ref_group=#{ref_group} AND num=#{num}
	</update>
	
	<select id="getid" parameterType="com.acorn.exhibition.home.dto.Com_LikeDto" resultType="java.lang.String">
		SELECT id
		FROM comment_like
		WHERE seq=#{seq} AND id=#{id} And num=#{num}
	</select>
</mapper>