<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<select id="getevent" resultType="fullCalendarDto">
		SELECT seq, title, startdate, enddate, thumbnail
		FROM tb_api_date
	</select>
	
	<select id="getdata" parameterType="int" resultType="fullCalendarDto">
		SELECT seq, title, startdate, enddate, place, realmname, thumbnail, gpsx, gpsy, likecount
		FROM tb_api_date
		WHERE seq=#{seq}
	</select>
	
	<insert id="insert" parameterType="apiDto">
		INSERT INTO tb_api_date
		(seq, title, startdate, enddate, place, realmname, thumbnail, gpsx, gpsy)
		VALUES(
		#{seq}, 
		#{title,jdbcType=VARCHAR}, 
		#{startDate,jdbcType=VARCHAR}, 
		#{endDate,jdbcType=VARCHAR}, 
		#{place,jdbcType=VARCHAR}, 
		#{realmName,jdbcType=VARCHAR},
		#{thumbNail,jdbcType=VARCHAR}, 
		#{gpsX,jdbcType=VARCHAR}, 
		#{gpsY,jdbcType=VARCHAR})
	</insert>
	
	<!-- 전체 공연 list -->
	<select id="getCount" parameterType="fullCalendarDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM tb_api_date
		<choose>
			<when test="seq != 0">
				WHERE seq LIKE '%${seq}%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%${title}%'
			</when>
			<when test="place != null">
				WHERE place LIKE '%${place}%'
			</when>
		</choose>
	</select>
	
	<select id="getList" resultType="fullCalendarDto">
		SELECT *
		 FROM (SELECT result1.*, ROWNUM AS rnum
				FROM (SELECT seq, title, TO_CHAR(startdate,'YYYY/MM/DD') AS startdate, TO_CHAR(enddate,'YYYY/MM/DD') AS enddate, place, thumbnail, likecount
						FROM tb_api_date
						<choose>
							<when test="seq != 0">
								WHERE seq LIKE '%${seq}%'
							</when>
							<when test="title != null">
								WHERE title LIKE '%${title}%'
							</when>
							<when test="place != null">
								WHERE place LIKE '%${place}%'
							</when>
						</choose>
						ORDER BY startdate DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<!-- 좋아요 -->
	<select id="findLike" parameterType="fullCalendarDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM exhibition_like
		WHERE seq=#{seq} AND id=#{id}
	</select>
	
	<select id="getLikeCount" parameterType="int" resultType="int">
		SELECT likecount
		FROM tb_api_date
		WHERE seq=#{seq}
	</select>
	
	<delete id="remove" parameterType="fullCalendarDto">
		DELETE FROM exhibition_like 
		WHERE seq=#{seq} AND id=#{id}
	</delete>
	
	<insert id="add" parameterType="fullCalendarDto">
		 INSERT INTO exhibition_like 
		 (seq,id) 
		 VALUES(#{seq}, #{id})
	</insert>
	
	<update id="addLikeCount" parameterType="fullCalendarDto">
		UPDATE tb_api_date
		SET likecount=likecount+1
		WHERE seq=#{seq}
	</update>
	
	<update id="minusLikeCount" parameterType="fullCalendarDto">
		UPDATE tb_api_date
		SET likecount=likeCount-1
		WHERE seq=#{seq}
	</update>
	
	<select id="getid" parameterType="com.acorn.exhibition.home.dto.LikeDto" resultType="java.lang.String">
		SELECT id
		FROM exhibition_like
		WHERE seq=#{seq} AND id=#{id}
	</select>
	
</mapper>