<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<select id="getevent" resultType="fullCalendarDto">
		SELECT seq, title, startdate, enddate, thumbnail
		FROM tb_api_date
	</select>
	
	<select id="getdata" parameterType="int" resultType="fullCalendarDto">
		SELECT seq, title, startdate, enddate, place, realmname, thumbnail, gpsx, gpsy
		FROM tb_api_date
		WHERE seq=#{seq}
	</select>
	
	<insert id="insert" parameterType="apiDto">
		INSERT INTO tb_api_date
		(seq, title, startdate, enddate, place, realmname, thumbnail, gpsx, gpsy)
		VALUES(
		#{seq}, 
		#{title,jdbcType=VARCHAR}, 
		#{startDate,jdbcType=VARCHAR}, 
		#{endDate,jdbcType=VARCHAR}, 
		#{place,jdbcType=VARCHAR}, 
		#{realmName,jdbcType=VARCHAR},
		#{thumbNail,jdbcType=VARCHAR}, 
		#{gpsX,jdbcType=VARCHAR}, 
		#{gpsY,jdbcType=VARCHAR})
	</insert>
	
	<!-- list -->
	<select id="getCount" parameterType="fullCalendarDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM tb_api_date
		<choose>
			<when test="seq != 0">
				WHERE seq LIKE '%${seq}%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%${title}%'
			</when>
			<when test="place != null">
				WHERE place LIKE '%${place}%'
			</when>
		</choose>
	</select>
	
	<select id="getList" resultType="fullCalendarDto">
		SELECT *
		 FROM (SELECT result1.*, ROWNUM AS rnum
				FROM (SELECT seq, title, startdate, enddate, place, thumbnail
						FROM tb_api_date
						<choose>
							<when test="seq != 0">
								WHERE seq LIKE '%${seq}%'
							</when>
							<when test="title != null">
								WHERE title LIKE '%${title}%'
							</when>
							<when test="place != null">
								WHERE place LIKE '%${place}%'
							</when>
						</choose>
						ORDER BY startdate DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
</mapper>