<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="String" resultType="String">
		select id
		from exhibition_users
		where id=#{inputId}
	</select>
	
	<insert id="insert" parameterType="usersDto" >
		insert into exhibition_users
		(id,name,pwd,email,birth,gender,profile,regdate)
		values(#{id},#{name},#{pwd},#{email},#{birth},#{gender},#{profile,jdbcType=VARCHAR},SYSDATE)
	</insert>
	
	<select id="getPwdHash" parameterType="String" resultType="String">
		select pwd
		from exhibition_users
		where id=#{inputId}
	</select>
	
	<select id="getData" parameterType="String" resultType="usersDto">
		select id,pwd,email,regdate,profile,name,gender,TO_CHAR(birth,'YYYY-MM-DD') AS birth
		from exhibition_users
		where id=#{id}
	
	</select>
	<update id="updateProfile" parameterType="usersDto">
		update exhibition_users
		set profile=#{profile}
		where id=#{id}
	</update>
	
	<update id="updatePwd" parameterType="usersDto">
		update exhibition_users
		set pwd=#{pwd}
		where id=#{id}
	</update>
	
	<update id="updateUser" parameterType="usersDto">
		update exhibition_users
		set email=#{email,jdbcType=VARCHAR},name=#{name},gender=#{gender},birth=TO_DATE(#{birth,jdbcType=VARCHAR},'YYYYMMDD')
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from exhibition_users
		where id=#{id}
	</delete>
	
	<select id="getAdminAuth" parameterType="String" resultType="String">
		SELECT admin
		FROM exhibition_users
		WHERE id=#{inputId}
	</select>
</mapper>